
/*
h1{
    background-color: red;
}
#title{
    background-color: greenyellow;
}

h1.title{
    background-color: greenyellow;
}
h1#title{
    background-color: hotpink;
}
h1.title#title{
    background-color:salmon;
}

.title{
    background-color: blue;
}
.title{
    background-color: red;
}
*/
.title{
    color:cyan;
    font-size: 10px;

}
.text{
    color:green;
}
.link{
    color:inherit;
}
.list{
    color: salmon;
}
.list-item-extra{
    color:initial
}