
/*
h1{
    background-color: red;
}
#title{
    background-color: greenyellow;
}

h1.title{
    background-color: greenyellow;
}
h1#title{
    background-color: hotpink;
}
h1.title#title{
    background-color:salmon;
}

.title{
    background-color: blue;
}
.title{
    background-color: red;
}
*/
.title{
    color:cyan;
    font-size: 10px;

}
.text{
    color:green;
}
.link{
    color:inherit;
}
.list{
    color: salmon;
}
.list-item-extra{
    color:initial
}



.title2{ 
    background-color: darkblue;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #333;
    color:#fff;
}

*{
    box-sizing: border-box; 
  }

.block{
    background-color: purple;
    width: 200px;
    height: 200px;
    /* Centrar el elemento */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
   
    border: 5px solid red;
    /* padding-right: 150px;
    padding-left:150px; */
    /* border: 10px solid red;
    border-right-color: blue; */
    
}
.inline{
    background-color:lightcoral;
    color:inherit;
    margin-right:100px;
    margin-left:100px;
}

/* * {
    margin: 0;
    padding: 0;
    
} */
.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: lightcyan;
    width: 300px;
    height: 300px;

    border-radius: 50px;
    /* border-radius: 50px; */
    /* border-bottom-left-radius: 50px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 150px;
    border-top-right-radius: 200px; */

/* Dos valores elipse */

    /* border-radius: 50px / 100px; */
    /* border-top-left-radius: 10px 50px;
    border-top-right-radius: 10px 50px;
    border-bottom-right-radius: 10px 50px;
    border-bottom-left-radius: 10px 50px; */
    color:#333;
    overflow:hidden;
}
.box-1, .box-2{
    padding: 15px;
    background-color: lightcoral;
}

/* .box-2{
    background-color: lightcoral;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
} */
.text{
    margin: 0px;
    /* width: 350px; */
}
.header{
    background-color: lightcoral;
    height: 100px;
    margin-bottom: 20px;
    /* overflow: hidden; */
    /* padding-top: 0.1px; */
    border-top: 0.1px solid lightcoral;
}
.title-h1{
    margin:0;
    margin-top: 50px;
}
.box-a,
.box-b{
    margin-left: auto;
    margin-right: auto;
    
    background-color: lightcyan;
    width: 300px;
    height: 300px;
}
.box-a{
    margin-bottom: 30px;
}